#skip {
	text-align: left;
	color: brown;
}

body {
	font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 150%;
}

header {
	background-color: bisque;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	background-color: aliceblue;
}

nav ul {
	list-style: none;
	padding: 0%;
	margin: 0;
	display: flex;
	gap: 20px;
}

nav img {
	width: 10%;
	display: block;
}

main {
	background-color: antiquewhite;
	font-size: 120%;
}

footer {
	background-color: coral;
}

/*
li {
display: grid;
width: fit-content;
}
*/

h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: blue;
}

p {
	line-height: normal;
}

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.grid img {
	width: 100%;
}

