html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
}

li{
    margin-top: 20px;
}

img{
    border: 5px solid rgb(83, 83, 112);
    border-radius: 35px;
    width: 100%;
}

figcaption{
    text-align: center;
}

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid {
    display: grid; 
    gap: 10px;      
}

@media (min-width: 772px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
    
    .grid img {
        border-radius: 50%;
        height: 250px;
    }

    .grid figure:last-child {
        grid-column: 1 / -1;
    }

    .grid figure:last-child img {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid figure {
        justify-self: center;
    }
    .grid img {
        border-radius: 0;
    }

    .grid figure:nth-child(3n) {
        grid-column: 1 / -1;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (prefers-color-scheme: dark) {
    .grid {
        background-color: #222; 
        border-color: #000;     
    }

    .label, figcaption {
        color: #FFD700; 
}
}

@media (prefers-reduced-motion: reduce) {
  html {
    transition: none;
  }
}